.Home {
    margin-top: 10vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color2);
}

.Home h1 {
    padding: 10px;
}

.Home a {
    font-size: 1.2rem;
    color: var(--color3);
    text-decoration: underline;
    cursor: pointer;
}