.Quiz {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    color: var(--color2);
}

.quiz-container {
    width: 70%;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.q-label, .l-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

.q-label label{
    margin: 10px;
}

.l-label label{
    margin: 10px;
}

.q-label {
    font-weight: bold;
    color: var(--color4);
}

.l-label {
    font-weight: bold;
    color: red;
}

.oval-button {
    background-color: var(--color3);
    color: var(--color1);
    margin: 10px;
    padding: 1.5rem 3rem 1.5rem 3rem;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.oval-button:hover {
    transform: scale(1.1);
}